<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>后台登录</title>
<link rel="stylesheet" href="__PUBLIC__/css/login.css" />
<link rel="stylesheet" href="__PUBLIC__/js/layui/css/layui.css">
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/global.js"></script>
</head>
<body> 

<div class="login">
    <div class="message">门户后台登录</div>
    <div id="darkbannerwrap"></div>
    
		<input name="action" value="login" type="hidden">
		<input name="username" placeholder="用户名" required type="text" class="username">
		<hr class="hr15" style="background: #FFFFFF">
		<input name="password" placeholder="密码" required type="password" class="password">
		<hr class="hr15" style="background: #FFFFFF">
		<input value="登录" style="width:100%;" type="button" class="submit">
		<hr class="hr20" style="background: #FFFFFF" >
		<!-- 帮助 <a onClick="alert('请联系管理员')">忘记密码</a> -->

	
</div>

<!--<div class="copyright">(c) 2016品牌名称 by<a href="http://www.htmlsucai.com" target="_blank">HTML素材网</a></div>-->

</body>
<script>
	$(function() {
		$('.submit').click(function(){
			var username = $.trim($('.username').val());
			var password = $.trim($('.password').val());

			$.post("{:U('checkUnamePsw')}",{uname:username,password:password},function(text){
				if($.trim(text) == "s") {
					layui.use('layer', function(){
						var layer = layui.layer;
						layer.msg('登录成功',{icon:1,time:2000}, function(){ window.location.href="{:U('index')}";});
					});

				}else{
					layui.use('layer', function(){
						var layer = layui.layer;
						layer.msg(text,{icon:2,time:2000});
					});

				}
			})
		})
	});
</script>
</html>