 div {
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
 }

 .section {
     width: 100%;
 }

 .section_main {
     margin: 0 auto;
     display: flex;
     display: -webkit-flex;
     width: 1060px;
 }

 .section_left {
     width: 760px;
     margin-right: 20px;
 }

 .section_right {
     width: 280px;
 }

 .section_contact input {
     height: 26px;
     width: 163px;
     margin-right: 8px;
 }

 .section_contact_search {
     line-height: 30px;
     height: 30px;
     width: 60px;
     display: inline-block;
 }

 .section_right>a {
     display: block;
 }
.section_notice2{
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 5px 5px 3px #999;
    overflow: hidden;
}
 .section_notice_content {
     height: auto;
 }

 .section_basicInfo .section_notice_title {
     cursor: default;
 }

 .section_notice_title a {
     float: right;
     line-height: 40px;
 }

 .section_contact {
     overflow: visible;
 }

 .contact_main {
     position: relative;
     display: block;
 }

 .contactTips {
     position: absolute;
     display: none;
     top: 55px;
     left: 20px;
     border: 1px solid #999;
     background: #fff;
     z-index: 200;
     padding: 5px;
 }

 .contactTip {
     height: 30px;
     line-height: 30px;
     width: 300px;
 }

 .contactTips a {
     color: #000;
 }

 .contactTip:hover {
     cursor: pointer;
     background: #eee;
 }

 .contactTip span {
     margin-right: 40px;
 }

 .section_Carousel {
     height: 280px;
     margin: 0 auto;
     margin-bottom: 20px;
     position: relative;
     background: #32A0C5;
 }

 .section_Carousel .pic {
     /*background: url("../icon/phicommPage_banner.jpg");*/
     background-size: cover;
 }

 .section_Carousel {
     width: 1060px;
 }

 .section_left .section_squareCard {
     width: 240px;
     margin-right: 15px;
     display: inline-block;
 }

 .section_squareCard:hover {
     opacity: .9;
     filter: Alpha(opacity=90);
 }

 .secton_itfw {
     margin-top: 35px;
     background: #fff;
 }

 .section_itfw_content {
     text-align: center;
     padding: 20px;
 }

 .itfw_rjzc {
     width: 110px;
     height: 40px;
     color: #fff;
     background: #ff5500;
     text-align: center;
     line-height: 40px;
     border-radius: 5px;
 }
.itfw_rjzc:hover{
    background: rgba(0, 0, 0, .7)
}

 .section_itfw_content a {
     font-size: 14px;
     display: inline-block;
     margin: 0 10px 20px 0;
 }

 .section_itfw_content a:nth-child(2),
 .section_itfw_content a:nth-child(4) {
     margin-right: 0;
 }

 .section_itfw_content p {
     display: block;
     margin-top: 10px;
     color: #999;
 }

 .wttj {
     background: #A81B3B;
 }

 .rjzx {
     background: #32A0C5;
 }

 .fwjs {
     background: #1D72B5;
 }

 .itjk {
     background: #918BD3;
 }