* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}

li {
    list-style: none;
}

a {
    color: #0099FF;
    text-decoration: none;
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.header,
.section,
.footer {
    width: 100%;
    min-width: 1200px;
}

.header {
    background: #fff;
}

.header_top {
    height: 100px;
    padding: 30px 20px 30px 40px;
}

.header_logo {
    height: 48px;
    width: 276px;
    float: left;
    cursor: pointer;
    background: url("../icon/logo.png") no-repeat center center;
    background-size: cover;
}

.header_userArea {
    float: right;
}

.header_userArea_user {
    display: inline-block;
    vertical-align: middle;
}

.header_userArea_welcome,
.profile_photo {
    display: inline-block;
    vertical-align: middle;
}

.header_userArea_icons {
    border-left: 1px solid #c9c9c9;
    margin-left: 10px;
    margin-right: 30px;
}

.header_userArea_userWelcome {
    font-size: 14px;
    line-height: 40px;
}

.header_userArea_icons {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
}
#userName{
    vertical-align: middle;
    color: red;
}
.header_userArea_funcs {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 0;
    margin-left: 20px;
}


.header_userArea_funcs.mes {
    background: url("../icon/mes.png");
}

.header_userArea_funcs.set {
    background: url("../icon/set.png");
    position: relative;
    cursor: pointer;
}
.set .sethidden{
    position: absolute;
    background: white;
    top: 45px;
    left: -65px;
    box-shadow: 1px 1px 5px #757575;
    width: 100px;
    z-index: 100;
    text-align: center;
    display: none;
}

.sethidden li{
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}
.sethidden a{
    color: #666;
}

.profile_photo {
    width: 44px;
    height: 44px;
    background: url("../icon/profile_photo.png");
    margin-left: 10px;
    margin-right: 0;
}

.header_nav {
    height: 40px;
    background: #202226;
    padding: 0 25px 0 45px;
}

.header_nav_menu {
    float: left;
}

.header_nav_menu a,
.header_nav_menu span {
    color: #fff;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
}

.header_nav_menu span {
    margin: 0 5px;
}

.header_nav_search {
    height: 100%;
    float: right;
    position: relative;
    width: 240px;
}

.header_nav_search input {
    width: 210px;
    height: 30px;
    margin: 5px auto;
    border: none;
    font-size: 18px;
    padding-left: 5px;
}

.header_nav_searchIcon {
    cursor: pointer;
    height: 30px;
    position: absolute;
    display: inline-block;
    width: 30px;
    margin: 5px 0;
    right: 0;
    background: #DBDBDB;
}

.header_nav_searchIcon img {
    vertical-align: middle;
    width: 32px;
    height: 28px;
}

.section {
    padding: 40px;
    background: #F2F2F2;
}

.footer {
    background: #E4E4E4;
}

.footer_links {
    width: 988px;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
}

.footer_linksArea {
    width: 100%;
    padding: 25px 25px 8px 8px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.footer_linksArea a {
    text-decoration: none;
    display: inline;
}

.footer_links_link {
    width: 150px;
    display: inline-block;
    margin-bottom: 20px;
    line-height: 40px;
}

.footer_links_link:before {
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 5px;
    /*background: #EB4714;*/
    vertical-align: middle;
    margin-right: 10px;
}

.footer_links h4 {
    color: #EB4714;
    margin-bottom: 10px;
}

.footer_links_link a {
    color: #333;
}

.footer_phoneNumber {
    text-align: center;
    padding: 40px;
}

.footer_bottom {
    color: #FFF;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #202226;
}

.section>div.section_banner,
.section>div.section_notice {
    width: 760px;
    margin: 0 auto 30px auto;
}

.section_notice {
    height: auto;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 5px 5px 3px #999;
    overflow: hidden;
    transition: height .3s;
    -moz-transition: height .3s;
    -webkit-transition: height .3s;
    -o-transition: height .3s;
}

.section_notice_title {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #999;
    padding: 0 10px;
    position: relative;
    cursor: pointer;
    color: #333;
}

.section_notice_title span {
    font-size: 14px;
    line-height: 40px;
}

.section_notice_toggle {
    background: url("../icon/down.png") no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    float: right;
    margin: 10px;
    transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transition: transform .3s;
    -moz-transition: transform .3s;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
}

.section_notice_content {
    padding: 20px;
    height: 160px;
}
.article{
    cursor: pointer;
}
.section_notice_content_img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #F2F2F2;
    width: 170px;
    height: 120px;
    border: 0;
}

.section_notice_content_title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-bottom: 10px;
}

.section_notice_content_text {
    font-size: 16px;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 85px;
}

.section_notice_content_text img{
    width: 100%;
}
.section_buttons {
    cursor: pointer;
    border-radius: 5px;
    background: #FF5400;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.section_buttons:hover {
    background: #F04C00;
}

.avatar_yes,
.avatar_no,
.workExp_yes,
.workExp_no {
    width: 120px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    margin-right: 20px;
}

.avatar_no,.workExp_no {
    background: #D7D7D7;
    color: #000;
}

.avatar_no:hover,.workExp_no:hover{
    background: #999;
}