 .body {
     position: relative;
 }

 .section {
     font-size: 14px;
 }

 .section_main {
     width: 760px;
     margin: 0 auto;
 }

 .section_notice,
 .section_notice_content {
     height: auto;
 }

 .section_notice_content {
     padding: 0;
 }

 .section_basicInfo .section_notice_title {
     cursor: default;
 }

 .section_notice_title a {
     float: right;
     line-height: 40px;
 }

 .section_basicInfo_info,
 .section_basicInfo_organization,
 .section_basicInfo_gallary,
 .section_basicInfo_workExp {
     width: 100%;
 }

 .section_basicInfo_info {
     margin-bottom: 20px;
 }

 .section_basicInfo_left,
 .section_basicInfo_right {
     display: inline-block;
     vertical-align: top;
 }

 .section_basicInfo_left {
     width: 120px;
     margin-right: 30px;
 }

 .section_basicInfo_avatar {
     width: 120px;
     height: 120px;
     margin: 20px 0 0px 30px;
     background: #BCBCBC;
     display: inline-block;
     vertical-align: top;
 }

 .section_basicInfo_sign {
     cursor: pointer;
     display: block;
     height: 30px;
     width: 60px;
     color: #fff;
     font-size: 14px;
     line-height: 30px;
     border-radius: 5px;
     text-align: center;
     margin: 0 auto;
     background: #FF5400;
 }

 .section_basicInfo_sign:hover {
     background: #F04C00;
 }

 .section_basicInfo_right_top {
     border-bottom: 1px solid #999;
     margin-bottom: 10px;
 }

 .section_basicInfo_right p {
     font-size: 16px;
     margin-bottom: 8px;
 }

 .section_basicInfo_title {
     border-bottom: 1px solid #999;
     padding: 10px;
 }

 .section_second_title {
     padding: 20px;
 }

 .section_basicInfo_workExpItem {
     margin: 20px 40px;
 }

 .section_basicInfo_workExpItem>div {
     display: inline-block;
 }

 .section_basicInfo_workExpTime {
     margin-right: 50px;
 }

 .deleteExp_btn {
     cursor: pointer;
     color: #0099FF;
     float: right;
 }

 .section_workExp_add {
     padding: 0 20px 20px 40px;
     width: 100%;
     border-bottom: 1px solid #999;
 }

 .section_workExp_add>div {
     width: 60px;
     height: 30px;
     line-height: 30px;
     margin-top: 10px;
 }

 .section_modify_save {
     width: 140px;
     height: 40px;
     line-height: 40px;
     margin: 20px auto 0 auto;
 }

 .modify_avatar_btn {
     width: 80px;
     height: 30px;
     line-height: 30px;
     display: inline-block;
     margin: 65px 20px auto 40px;
 }

 .section_basicInfo_workExp p>span:first-child {
     display: inline-block;
     width: 80px;
     margin: 10px;
 }

 .section_basicInfo_workExp p span input {
     width: 120px;
     border-radius: 3px;
     border: 1px solid #999;
 }

 .section_basicInfo_gallery {
     padding: 10px;
     border-bottom: 1px solid #999;
 }

 .uploadBtn {
     width: 80px;
     height: 30px;
     line-height: 30px;
     margin: 20px 20px 20px 40px;
 }

 .section_uploadImage {
     padding: 0 20px 20px 20px;
 }

 .upload_images {
     width: 550px;
     height: 280px;
     margin-left: 40px;
 }

 .upload_images_item {
     width: 120px;
     height: 120px;
     margin: 0 15px 15px 0;
     background: #eee;
     float: left;
     position: relative;
 }

 .upload_image_cancel {
     text-align: center;
     width: 20px;
     height: 20px;
     color: #fff;
     background: #999;
     border-radius: 100%;
     position: absolute;
     right: -8px;
     top: -8px;
     cursor: pointer;
 }

 .modules_options {
     width: 600px;
     height: 90px;
     margin: 20px;
 }

 .modules_options_item {
     float: left;
     width: 160px;
     margin-right: 20px;
 }

 .modules_options_item span {
     display: inline-block;
     vertical-align: middle;
     width: 80px;
 }

 #option_div1 {
     display: inline-block;
     vertical-align: middle;
     width: 30px;
     height: 10px;
     border-radius: 5px;
     position: relative;
     margin: 20px 0px;
     transition: all .3s;
 }

 #option_div2 {
     width: 17px;
     height: 17px;
     border-radius: 100%;
     position: absolute;
     background: white;
     border: 1px solid rgba(0, 0, 0, 0.15);
     transition: all .3s;
 }

 .option_open1 {
     background: rgba(0, 184, 0, 0.8);
     transition: all .3s;
 }

 .option_open2 {
     top: -3px;
     right: 0px;
     transition: all .3s;
 }

 .option_close1 {
     background: #FE0101;
     border: 1px solid rgba(0, 0, 0, 0.15);
     border-left: transparent;
 }

 .option_close2 {
     left: 0px;
     top: -3px;
     border: 1px solid rgba(0, 0, 0, 0.15);
 }

 .mask {
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     position: fixed;
     left: 0px;
     top: 0px;
     display: none;
     z-index: 222;
 }

 .modify_avatar_main,
 .modify_workExp_main {
     width: 620px;
     height: 320px;
     position: fixed;
     top: 50%;
     left: 50%;
     background-color: #fff;
     margin-top: -160px;
     margin-left: -310px;
     display: none;
     z-index: 1500;
     font-size: 14px;
 }

 .modify_workExp_main {
     height: 280px;
 }

 .modify_avatar_title,
 .modify_workExp_title {
     padding: 10px;
     height: 40px;
     border-bottom: 1px solid #999;
 }

 .modify_avatar_content,
 .modify_workExp_content {
     margin: 20px;
     margin-bottom: 0;
     padding-bottom: 20px;
     border-bottom: 1px solid #999;
 }

 .modify_avatar_left,
 .modify_avatar_right {
     display: inline-block;
     vertical-align: top;
     margin-right: 20px;
 }

 .modify_avatar_left {
     width: 160px;
     height: 160px;
     background: #D7D7D7;
     background-size: cover;
     background-repeat: no-repeat;
 }

 .modify_avatar_right {
     width: 80px;
     height: 30px;
     position: relative;
     background: #373737;
     border-radius: 3px;
     color: #fff;
     text-align: center;
     line-height: 30px;
 }

 .modify_avatar_right:hover {
     background: #111;
 }

 .avatar_url {
     color: #999;
     text-align: left;
 }

 .modify_avatar_right input {
     width: 80px;
     height: 30px;
     opacity: 0;
     filter: Alpha(opacity=5);
     position: absolute;
     left: 0;
 }

 .modify_avatar_bottom,
 .modify_workExp_bottom {
     padding: 20px;
     text-align: center;
 }

 #reg_testdate select {
     display: inline-block;
     vertical-align: top;
 }

 .modify_workExp_content input {
     margin-left: 3px;
 }

 .modify_workExp_content input,
 .modify_workExp_content select {
     border-radius: 3px;
     border: 1px solid #999;
 }

 .modify_workExp_content span,
 .modify_workExp_content form {
     display: inline-block;
     margin: 10px 0;
 }

 .uploadPics_main {
     width: 570px;
     height: 410px;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -205px;
     margin-left: -285px;
     background: #fff;
     z-index: 555;
     display: none;
 }

 .uploadPics_title {
     height: 40px;
     padding: 10px;
     border-bottom: 1px solid #999;
 }

 .uploadPics_content {
     margin: 20px;
     border: 1px solid #999;
     width: 530px;
     height: 270px;
 }

 .uploadPics_content {
     text-align: center;
 }

 .uploadPics_container {
     padding: 10px;
     padding-right: 0px;
 }

 .pics_uploaded {
     width: 120px;
     height: 120px;
     margin-right: 9px;
     margin-bottom: 10px;
     float: left;
 }

 .pics_uploaded img {
     width: 120px;
     height: 120px;
 }

 .uploadPics_demo {
     background: #999;
     width: 70px;
     height: 60px;
     margin: 50px auto 20px auto;
 }

 .uploadPics_pick {
     position: relative;
     width: 180px;
     height: 50px;
     line-height: 50px;
     margin: 0 auto;
     font-size: 16px;
 }

 .uploadPics_pick input {
     cursor: pointer;
     position: absolute;
     width: 180px;
     height: 50px;
     left: 0;
     opacity: 0;
     filter: Alpha(opacity=0);
 }

 .uploadPics_funcs {
     text-align: center;
     padding: 10px;
 }

 .continueAdd {
     position: relative;
     content: '+';
     background: #999;
 }

 .continueAdd input {
     width: 120px;
     height: 120px;
     opacity: 0;
     filter: Alpha(opacity=0);
     position: absolute;
     left: 0;
     top: 0;
 }