* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.footer {
    background: #fff;
    height: 250px;
}

.footer_phoneNumber {
    height: 200px;
    text-align: right;
    bottom: 0;
    right: 0;
    position: relative;
}

.footer_phoneNumber p {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.section {
    height: 100%;
    width: 100%;
    background: #F2E6D6;
    padding: 90px 20px;
}

.login_panel {
    width: 320px;
    height: 320px;
    padding: 40px 10px 20px 10px;
    background: rgba(210, 210, 210, 0.5);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 30%;
}

.login_panel p {
    color: #FF5400;
}

.login_panel p,
.login_funcs {
    margin-bottom: 20px;
}

.login_panel_username,
.login_panel_password {
    border: 1px solid #C9C9C9;
    width: 300px;
    margin-bottom: 20px;
    height: 40px;
    position: relative;
}

#username,
#password {
    display: inline-block;
    vertical-align: top;
    width: 258px;
    height: 38px;
    left: 0;
    border: 0;
    position: absolute;
    padding-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login_input_block {
    width: 40px;
    height: 39px;
    background: #C9C9C9;
    float: left;
}

.login_input_block:before {
    content: '';
    height: 40px;
    width: 40px;
    background: url("../icon/uname.png");
    position: absolute;
    left: 0;
}

.login_input_type {
    width: 258px;
    height: 40px;
    position: absolute;
    margin-left: 40px;
}

.login_funcs {
    height: 20px;
}

.login_funcs input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.login_rem {
    float: left;
}

.login_rem label,
.login_forg {
    line-height: 20px;
    float: right;
    font-size: 14px;
}

.login_forg a {
    color: #0099FF;
    text-decoration: none;
}

.login_loginBtn {
    width: 300px;
    height: 40px;
    background: #FF5400;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.header_logo {
    position: absolute;
    top: 30px;
    left: 30px;
}