<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>菜单管理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/content.css" />
    <link rel="stylesheet" href="__PUBLIC__/js/layui/css/layui.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/layui/layui.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/global.js"></script>
</head>
<style>
    .panel-body{
        margin: 15px;
    }
    .panel-primary{
        border-color: #1ab394;
    }
    a{
        text-decoration: none !important;
    }
</style>

<body>
<!--<div class="container-fluid" style="margin-top: 10px">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #1ab394;border-color: #1ab394;">
            <span class="badge" style=" color: #1ab394;">菜单列表</span>
                <i id="add-manager" class="layui-icon" style="float:right;font-size: 20px;margin-top:-5px;cursor:pointer">&#xe654;</i>
        </div>
        <div class="panel-body">
            <form method="get" action="__ACTION__" class='form-inline'>
                <div class="row top_search">

                    <div class="input-group">
                        <div class="input-group-addon">菜单名称：</div>
                        <input name="search_uname" value="{$search_uname}"
                               type="text" class="form-control" placeholder="请输入菜单名称">
                    </div>

                </div>

                <div class="row top_search" style="margin-top: 10px">
                    <input type='submit' value='筛选' class='pull-left btn btn-default'/>
                    <a href="__ACTION__" class='pull-left btn btn-default' style="margin-left:10px;"/>重置</a>
                </div>
            </form>
        </div>
    </div>
</div>-->
<div class="container-fluid" style="margin-top: 10px">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #1ab394;border-color: #1ab394;">
            <span class="badge" style=" color: #1ab394;" >菜单列表</span>
            <i id="add-manager" class="layui-icon" style="float:right;font-size: 20px;margin-top:-5px;cursor:pointer">&#xe654;</i>
        </div>
    </div>
</div>
<div class="container-fluid">
    <table class="layui-table" >
        <colgroup>
            <col width="150">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="100">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>菜单名称</th>
            <th>上级菜单</th>
            <th>路径</th>
            <th>是否显示</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($data['data'] as $val):?>
        <tr>
            <td><?php echo $val['name'];?></td>
            <td><?php echo $val['pname'];?></td>
            <td><?php echo $val['route'];?></td>
            <td><?php if($val['display'] == 1)echo '是';else echo '否'?></td>
            <td><?php echo $val['sort'];?></td>
            <td>
                <a class="edit" attr="<?php echo $val['id']?>" href="#"></a>
                <a class="delete" attr="<?php echo $val['id']?>" pid="<?php echo $val['pid']?>" href="#"  table="menu"></a>
            </td>
        </tr>
        <?php endforeach;?>
        </tbody>
    </table>
</div>


<!--分页-->
<div class="container-fluid">
    <div id="page"></div>
</div>

<div class="container-fluid" id="add-manage-popup" style="display:none;margin-left:20px;margin-top:20px">
<form class="layui-form layui-form-pane" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-inline">
            <input name="menuname"  placeholder="请输入菜单名称" class="layui-input" type="text" id="menuname">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-inline">
            <select name="quiz3" lay-verify=""  id="menuup" >
                <option value="0">顶级菜单</option>
                <?php foreach($menuRate as $val):?>
                    <option value="<?php echo $val['id']?>">&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $val['name']?></option>
                    <?php if(!empty($val['son'])):?>
                        <?php foreach($val['son'] as $v):?>
                            <option value="<?php echo $v['id']?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $v['name']?></option>
                        <?php endforeach;endif;endforeach;?>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单路径</label>
        <div class="layui-input-inline">
            <input name="menuroute"  placeholder="请输入菜单路径"  class="layui-input" type="text" id="menuroute">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input onkeyup='this.value=this.value.replace(/\D/gi,"")' name="menusort" placeholder="请输入排序数字" class="layui-input" type="text" id="menusort">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-inline">
            <input name="menuicon" placeholder="例如：fa-home"  class="layui-input" type="text" id="menuicon">
        </div>
        <div style="padding-top: 10px">
            <a  href="http://www.htmleaf.com/ziliaoku/font-awesome/font-awesome-4-4-0.html" target="_blank">图标参考</a>
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否显示</label>
        <div class="layui-input-block">
            <input name="show" value="1" title="是" checked="" type="radio">
            <input name="show" value="0" title="否" type="radio">
        </div>
    </div>
    <!--<div id="method">
        <table class="layui-table" lay-even="" lay-skin="nob">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="100">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>方法名称</th>
                <th>路径</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input name="methodname" id="methodname"  placeholder="请输入方法名称"  class="layui-input" type="text">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input name="methodroute" id="methodroute" placeholder="请输入方法路径"  class="layui-input" type="text" style="width: 241px;">
                </div>
            </div>
            <div class="layui-btn layui-btn-normal layui-btn-small" id="mtd-btn" tag="add" mid="" mpid="" style="margin-left: 54px; margin-top: -7px;"> <i class="layui-icon">&#xe654;</i></div>
        </div>

    </div>-->


    <div class="layui-form-item" style="text-align:center; width:100%;height:100%;margin-left:-28px; " >
        <div class="layui-btn"   id="sub-btn" attr="">提交</div>
    </div>
</form>

</div>
</body>

<script type="text/javascript">
    $(function(){
        //分页
        globalFn.lypage('page', "{$data['pages']}","Admin/Menu/index");

        //点击添加
        $("#add-manager").click(function(){
            menuFn.emptyInput();
            globalFn.checkRadio(0);
            $('#method').hide();
            globalFn.lyPopup('添加菜单', ['550px', '580px'],'add-manage-popup',1);

        });

        //点击提交
        $('#sub-btn').click(function(){
            if($.trim($('#menuname').val()) == ''){
                layui.use('layer', function(){
                    layui.layer.msg('请输入菜单名称');
                });
                return false;
            }
            layui.use('layer', function(){
                _index = layui.layer.load();
            });
            $.post("{:U('access')}",{
                menuid:$('#sub-btn').attr('attr'),
                menuname:$('#menuname').val(),
                menupid:$('dl').find('dd.layui-this').attr('lay-value'),
                menuroute:$('#menuroute').val(),
                menusort:$('#menusort').val(),
                menuicon:$('#menuicon').val(),
                menushow: $('.layui-form-radioed').find('span').text() == '是' ? 1 :0,
                table:'menu'
            },function(res){

                res.status == 1 ? globalFn.remind(_index, res.info,"{:U('index')}")
                    : globalFn.remind(_index, res.info);
            })
        });

        //点击编辑
        $('.edit').click(function(){
            menuFn.emptyInput();
            globalFn.checkRadio(0);
            menuFn.methodEmptyInput();
            $.post("{:U('getEditMenuData')}",{id:$(this).attr('attr')},function(data){
                console.log(data);
                $('#menuname').val(data.menu.name);
                $('.layui-unselect').val(data.menu.pname);
                $('dl dd').each(function(){
                    $(this).attr('lay-value') == data.menu.pid ? $(this).addClass('layui-this'):$(this).removeClass('layui-this')
                });
                $('#menuroute').val(data.menu.route);
                $('#menusort').val(data.menu.sort);
                $('#menuicon').val(data.menu.icon_class);
                $("#mtd-btn").attr("mpid",data.menu.id); //增加方法的父菜单id
                $('#sub-btn').attr('attr',data.menu.id);
                globalFn.checkRadio(val = data.menu.display == 0 ? 1 :0);

                if(data.method.length>0) {
                    for (var i in data.method) {
                        var trStr = "<tr class='m_"+data.method[i].id+"'>" +
                            "<td class='mname_"+data.method[i].id+"'>" + data.method[i].name + "</td>" +
                            "<td class='mroute_"+data.method[i].id+"'>" + data.method[i].route + "</td>" +
                            "<td>" +
                            "<i class='layui-icon medit' attr='"+data.method[i].id+"' style='font-size: 18px;margin-right:5px'>&#xe642;</i>" +
                            "<i class='layui-icon mdel' attr='"+data.method[i].id+"' style='font-size: 18px;'>&#xe640;</i>" +
                            "</td>" +
                            "</tr>";
                        $("#method tbody").append(trStr);
                    }
                }
                $('#method').show();
                globalFn.lyPopup('编辑菜单', ['600px', '600px'],'add-manage-popup',1);
            })
        });

        //点击方法编辑按钮
        $(document).on('click', '.medit', function () {

            $.post("{:U('getOneMethodData')}",{id:$(this).attr('attr')},function(data){
                $("#methodname").val(data.name);
                $("#methodroute").val(data.route);
                $("#mtd-btn").attr("mid",data.id);
                $("#mtd-btn").attr("tag",'edit');
                $("#mtd-btn i").html("&#xe642;");
                console.log(data);
            })
        });

        //点击方法编辑或者添加提交----不对所属菜单进行更改
        $(document).on('click', '#mtd-btn', function () {
            if(!menuFn.checkMethodInput())return;//非空
            var methodname = $("#methodname").val();
            var methodroute = $("#methodroute").val();
            if($('#mtd-btn').attr('tag') == 'add')//添加
                var handleId = $('#mtd-btn').attr('mpid'),tag = 'add';
            else
                var handleId = $('#mtd-btn').attr('mid'),tag = 'edit'; //编辑

            $.post("{:U('access')}",{
                tag : tag,
                handleId : handleId,
                methodname:methodname,
                methodroute:methodroute
            },function(data){
                if(data.status == 1){
                    if(tag == 'add'){
                        var trStr = "<tr class='m_"+data.insertId+"'>" +
                            "<td class='mname_"+data.insertId+"'>" + methodname + "</td>" +
                            "<td class='mroute_"+data.insertId+"'>" + methodroute + "</td>" +
                            "<td>" +
                            "<i class='layui-icon medit' attr='"+data.insertId+"' style='font-size: 18px;margin-right:5px'>&#xe642;</i>" +
                            "<i class='layui-icon mdel' attr='"+data.insertId+"' style='font-size: 18px;'>&#xe640;</i>" +
                            "</td>" +
                            "</tr>";
                        $("#method tbody").append(trStr);
                    }else{
                        $('.medit').each(function(){
                            $(this).attr('attr') == handleId && $('.mname_'+handleId).text(methodname),$('.mroute_'+handleId).text(methodroute);
                        })
                    }
                    $("#methodname").val('');
                    $("#methodroute").val('');
                    $("#mtd-btn i").html("&#xe654;");
                    $('#mtd-btn').attr('tag','add');
                    layui.use('layer', function(){
                        layui.layer.msg(data.info);
                    });
                }else{
                    layui.use('layer', function(){
                        layui.layer.msg(data.info);
                    });
                };
            })

        });


        //点击删除
        $('.delete').click(function(){
            //询问框
            var id = $(this).attr('attr');
            var table = $(this).attr('table');
            var pid = $(this).attr('pid') == 0 ?  $(this).attr('attr') : 'no';
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.confirm('您确定要删除该菜单吗？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    _index1 = layer.load();
                    $.post("{:U('deleteM')}",{id:id,table:table,pid:pid},function(res){
                        res.status == 1 ? globalFn.remind(_index1, res.info,"{:U('index')}")
                            : globalFn.remind(_index1, res.info);
                    })
                });
            });

        });

        //点击方法删除
        $(document).on('click', '.mdel', function () {
            var id = $(this).attr('attr');
            $.post("{:U('deleteM')}",{id:id,table:'method'},function(data){
                if(data.status == 1){
                    layui.use('layer', function(){
                        layui.layer.msg(data.info);
                    })
                    $('.m_'+id).remove();
                }else if(data.status == 0){
                    layui.use('layer', function(){
                        layui.layer.msg(data.info);
                    })
                }else{
                    layui.use('layer', function(){
                        layui.layer.msg(data);
                    })
                }
            })
        });

        //layer表单
        layui.use(['form', 'layedit', 'laydate'], function(){})
    });

    var menuFn = {
        emptyInput:function(){
            $('#menuname').val("");
            $('#sub-btn').attr('attr','');
            $('.layui-unselect').val('顶级菜单');
            $('#menuroute').val("");
            $('#menusort').val("");
            $('#menuicon').val("");
            $('dl dd').each(function(){
                $(this).attr('lay-value') == 0 ? $(this).addClass('layui-this'):$(this).removeClass('layui-this');
            })
        },

        methodEmptyInput:function(){
            $("#method tbody").children().remove();
            $("#mtd-btn i").html("&#xe654;");
            $("#methodname").val('');
            $("#methodroute").val('');
        },

        checkMethodInput:function(){
            if($.trim($("#methodname").val()) == ''){
                layui.use('layer', function(){

                    layui.layer.msg('请输入方法名称');

                });
                return false;
            }else{
                return true;
            }

            if($.trim($("#methodroute").val()) == ''){
                layui.use('layer', function(){
                    layui.layer.msg('请输入方法路径');
                });
                return false;

            }else{

                return true;
            }
        },

    }


</script>

</html>