<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>K码生成</title>

    <link rel="stylesheet" href="__PUBLIC__/css/content.css" />
    <link rel="stylesheet" href="__PUBLIC__/js/layui/css/layui.css">
    <!-- 引入jQuery UI的css文件 -->
    <link rel="stylesheet" href="__PUBLIC__/css/plugins/datapicker/datepicker3.css">
    <link rel="stylesheet" href="__PUBLIC__/js/bootstrap3.37/css/bootstrap.min.css">
    <script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/js/layui/layui.js"></script>
    <script src="__PUBLIC__/js/bootstrap3.37/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/global.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- 引入jQuery UI的js文件 -->
</head>
<style>
    .panel-primary{
        border-color: #1ab394;
    }
    a{
        text-decoration: none !important;
    }
</style>

<body>
<div class="container-fluid" style="margin-top: 10px">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #1ab394;border-color: #1ab394;">
            <span class="badge" style=" color: #1ab394;" >K码生成</span>
                <i id="add-manager" class="layui-icon" style="float:right;font-size: 20px;margin-top:-5px;cursor:pointer">&#xe654;</i>
        </div>
    </div>
</div>
<div class="container-fluid">
    <table class="layui-table" >
        <thead>
        <tr>
            <th>序号</th>
            <th>明码</th>
            <th>暗码</th>
            <th>绑定码</th>
            <th>K码状态</th>
            <th>导入料号</th>
            <th>导入型号</th>
            <th>渠道名称</th>
            <th>导入时间</th>
            <th>导入人员</th>
            <th>产品金额</th>
            <th>有效期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($data['data'] as $key => $val):?>
        <tr>
            <td><?php echo $key+1;?></td>
            <td><?php echo $val['clearcd']?></td>
            <td><?php echo $val['secretcd'];?></td>
            <td><?php echo $val['hcode'];?></td>
            <td><?php echo $val['status'];?></td>
            <td><?php echo $val['im_pnumber'];?></td>
            <td><?php echo $val['im_model'];?></td>
            <td><?php echo $val['im_channel'];?></td>
            <td><?php echo $val['im_time'];?></td>
            <td><?php echo $val['im_staff'];?></td>
            <td><?php echo $val['money'];?></td>
            <td><?php echo $val['close_time'];?></td>
            <td>
                <a class="edit" attr="<?php echo $val['id']?>" href="#"></a>
                <a class="delete" attr="<?php echo $val['id']?>" href="#" ></a>
            </td>
        </tr>

        <?php endforeach;?>
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <div id="page"></div>
</div>

<div class="container-fluid" id="add-manage-popup" style="display:none;margin-left:20px;margin-top:20px">
    <form class="layui-form layui-form-pane" action="">

        <?php foreach($kcodeImportFields as $key => $val):?>
        <?php if($val['value2'] != 'select'):?>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><?php echo $val['value1']?></label>
                <div class="layui-input-inline">
                    <input name="<?php echo $val['value3']?>"
                    <?php if($val['key2'] == 6):?>readonly<?php endif;?>
                    <?php if($val['key2'] == 4 || $val['key2'] == 5 || $val['key2'] == 7 ):?> placeholder="<?php echo $val['value2']?>" <?php endif;?>
                    lay-verify="required" class="layui-input describe" type="text" id="<?php echo $val['value3']?>" tag="<?php echo $val['key2']?>">
                    <div class = 'aaresults' id="<?php echo $val['value3']?>s" style="display: none;height: 150px;overflow-y: scroll">
                    </div>
                </div>
            </div>
        </div>
        <?php else:?>
        <div class="layui-form-item channel">
            <label class="layui-form-label"><?php echo $val['value1']?></label>
            <div class="layui-input-inline">
                <select name="<?php echo $val['value3']?>" lay-filter="" >
                <?php foreach($importRestrictions as $va):?>
                    <option value="<?php echo $va['key2']?>"><?php echo $va['key2']?></option>
                <?php endforeach;?>
                </select>
            </div>
        </div>
        <?php endif;endforeach;?>

        <input name="postPnumberValue" type="hidden" id="postPnumberValue">

        <div class="layui-form-item" style="text-align:center; width:100%;height:100%;margin-left:-28px; " >
            <div class="layui-btn" lay-submit="" lay-filter="demo2" id="sub-btn">添加</div>
            <input name="sign" type="hidden" class="layui-input" value="<?php echo $tag?>" id="sign">
            <input name="action" type="hidden" class="layui-input" value="add" id="action">
            <input name="eid" type="hidden" class="layui-input" value="" id="eid">
        </div>
    </form>


</div>
</body>

<script>

    $(function() {
        //分页
        globalFn.lypage('page', "{$data['pages']}", "Admin/KcodeProduce/index");
        //模糊搜索
        $('.describe').on('input propertychange', function() {
            if($(this).attr('id') !== 'money') {

                selectId = $(this).attr('id');
                selectPid = $(this).attr('id') + 's';
                $(".aaresults").html('');
                $.post("{:U('dimSearch')}", {tag: $(this).attr('tag'), describe: $(this).val()}, function (data) {
                    //$('.ui-autocomplete').show();
                    var htmls = '';
                    //var resulte = JSON.parse(data);
                    if (data.data) {
                        var field = data.field;
                        for (var i in data.data)
                            htmls = htmls + "<p>" + data.data[i][data.field] + "</p>";
                        $("#" + selectPid).html(htmls);
                        $("#" + selectPid).show();
                    }

                });
            }
        });

        $("body").on('click','.aaresults p',function () {
            var index = $(this).index("#"+selectPid+" p");
            postPnumberValue =  $("#"+selectPid+" p").eq(index).html();
            $("#"+selectId).val(postPnumberValue);
            $("#"+selectPid).html('');
            $("#"+selectPid).hide();

            if(selectId == 'pnumber'){
                $.post("{:U('getPnameByPnumber')}", {pnumber:postPnumberValue}, function(data){
                    console.log(data);
                    if(data){
                        $('#pname').val(data.pname);
                    }
                });
            }
        })


        //点击添加
        $("#add-manager").click(function(){
            globalFn.lyPopup("K码生成", ['450px', '500px'],'add-manage-popup',1);
        })

        layui.use(['form'], function(){
            var form = layui.form(),layer = layui.layer;
            //监听提交
            form.on('submit(demo2)', function(data){
                _index = layer.load();
                $.post("{:U('imProductInitialData')}", {data:JSON.stringify(data.field)},function(res){
                    res.status == 1 ? globalFn.remind(_index, res.info,"{:U('index')}")
                        : globalFn.remind(_index, res.info);
                });
                return false;
            });
        })



    })

</script>

</html>